<a href="https://colab.research.google.com/github/yeb2Binfang/ECE-GY6143ML/blob/main/Project/Credit_score.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Credit score model proj

这里呢，我们就通过信用评分卡模型的项目来巩固机器学习的知识。我们还是得先知道什么是信用评分卡

信用评分卡模型是最常见的金融风控手段之一，它是指根据客户的各种属性和行为数据，利用一定的信用评分模型，对客户进行信用评分，据此决定是否给予授信以及授信的额度和利率，从而识别和减少在金融交易中存在的交易风险。 评分卡模型在不同的业务阶段体现的方式和功能也不一样。

## Unit 1 互联网金融和信贷风控的概述
我们先了解一下借贷活动，它呢，是一项非常有历史的社会行为。从远古时期，就开始有促进生产改善生活的借贷行为，各类信贷产品呢，更是层出不穷。我们做的这个项目之前，要了解下信贷产品中的一个新兴崛起的细分行业，就是互联网金融中的信贷产品和风控特点。

现在互联网，大数据技术兴起，互金发展也非常好。除了与电商相结合的消费金融，线下转线上的网络小贷之外，传统的信贷机构，比如说银行以及保险的信贷部分也加速了互联网平台的设立。现在呢，各种互金产品不断出现，信贷产品的信用风控工作也就显得非常重要了。我们在搭建风控模型之前，就得先去了解一些目前主流的信贷产品以及这些产品的风险点。所以，这个unit，我们需要了解的东西如下

### 互金的简介


1.   互金的定义与特点
  * 定义：我们得先去了解一下互金是啥，也就是通过互联网技术和移动通信的手段，实现融资、支付和信息中介等功能的一种新兴的金融服务模式。从广义上来说，就是能够充分利用互联网技术开展金融业务的金融活动
  * 特点：
      * 基于大数据的应用
      * 具有普惠金融的特性，就是既考虑到企业，也考虑到个体
      * 服务更加高效便捷
      * 金融服务低成本化

  * 互金的发展状况

      绿色的为中国外的情况，蓝色的为中国的发展情况
      <img src="https://user-images.githubusercontent.com/68700549/132990781-fcf38e3c-ea0e-48c5-9f18-0dee44c6f774.png" alt="WeChat Screenshot_20210912100718" style="zoom:67%;" />
      
      * 这里，我们来了解一些P2P，这里呢，是指peer-to-peer lending
      * 还有B2B，C2C，B2C之类的
      * 也要去了解一下众筹

  * 互金的主要模式
      * 第三方支付
          * 具备一定实力和信誉保障的非银行机构，借助通信，计算机和信息安全技术，采用与各大银行签约的方式，在用户与银行支付结算系统见建立连接的电子支付模式。
      * P2P网络借款平台
          * 通过第三方互联网平台进行资信借，贷方匹配。需要借款的人群通过网站平台寻求有出借能力且愿意基于一定条件出借的人群，帮助贷款人通过和其他贷款人一起分担一笔借款额度来分散风险，也帮助借款人在充分比较的信息中选择有吸引人的利率条件
          <img src="https://user-images.githubusercontent.com/68700549/132991995-c097875f-7861-438f-a597-0dc78cb1da0f.png" alt="WeChat Screenshot_20210912104027" style="zoom:67%;" />
        
      * 大数据金融
          * 指集合海量非结构化数据，通过对其进行实时分析，可以为互联网金融机构提供客户全方位信息，通过分析和挖掘客户的交易和消费信息掌握客户的消费习惯，并准确预测客户行为，使金融机构和金融服务在营销和风控发面有的放矢。大数据的关键是从大量数据中快速获取有用数据的能力，从大数据资产中快速变现的能力
          <img src="https://user-images.githubusercontent.com/68700549/132992320-41a6b048-91d4-4f23-bbdd-f2e5d00b74f7.png" alt="WeChat Screenshot_20210912105116" style="zoom:67%;" />

      * 互联网金融门户
          * 指利用互联网进行金融产品的销售以及为金融产品的销售提供第三方服务的平台。核心是“搜索+比价”的模式，采用金融产品垂直比价的方式将各家金融机构的产品放在平台上，用户通过对比挑选合适的金融产品。这种模式不存在太多的政策风险，因为平台既不负责金融产品的实际销售，也不承担任何不良风险，同时资金也完全不通过中间平台。互金门户最大的价值在于渠道。当这些门户发展到一定阶段，拥有了一定的品牌，积累了相当大的留恋时，就称为各大金融机构的重要渠道，掌握了互金时代的入口，引领着金融产品销售的风向标

2.   常见的个人信贷产品
  * 个人信贷产品的定义与分类
      * 定义
          * 主要指运用从负债业务筹集的资金，将资金的使用权在一定期限内有偿让渡给个人，并在贷款到期时收回资金本息以取得收益的业务。
      * 分类
          * 基于资金用途：一般出现去消费分期产品中，与自营网站、门店，外部商户合作的方式展开
          * 基于客群特点：一般出现在现金贷款业务
          <img src="https://user-images.githubusercontent.com/68700549/132999348-4cdab294-e9e1-4b76-8c37-486e947eee8b.png" alt="WeChat Screenshot_20210912145121" style="zoom:67%;" />

          * 如下图所示

          <img src="https://user-images.githubusercontent.com/68700549/132999328-43d180bb-11f3-41d8-8946-f5cc4cee6315.png" alt="WeChat Screenshot_20210912145031" style="zoom:67%;" />

  * 典型产品
      * 银行系

      ![WeChat Screenshot_20210912145734](https://user-images.githubusercontent.com/68700549/132999501-169c7a2f-bb05-4dc8-9f43-4e07ccdf3e32.png)

      * 消费金融系

      <img src="https://user-images.githubusercontent.com/68700549/132999554-0d4ac53d-d083-4cae-9572-9ab96f7d583d.png" alt="WeChat Screenshot_20210912145946" style="zoom:67%;" />

      * P2P系

      <img src="https://user-images.githubusercontent.com/68700549/132999588-4ee80f60-c8f1-480b-80a4-f023372bcbcd.png" alt="WeChat Screenshot_20210912150110" style="zoom:67%;" />


3.   个贷产品中的风险   
  * 风险类型
      * 利率风险：利率水平的变动会影响金融产品的定价。因利率波动对信贷产品定价产生的损失机利率风险
      * 流动性风险：信贷机构在某个时刻没有足够的资金量来满足客户体现需求的风险。如果缺乏流动性管理，一旦资金断裂会引发支付危机
      * 信用风险：借款人在合约到期时没有完全旅行其义务的风险。就是时间到了但是还没有换钱，或者是没还够
          * 有两大因素构成 (信用资质=还款意愿×还款能力)
              * 借贷人的还款意愿
              * 借贷人的还款能力
          * 信用风险通常贯穿在信贷产品的整个生命周期
              * 贷前审核：过滤掉低资质客户，将中、高资质客户进行放款
              * 贷中监控：放款后，持续监控信贷客群
              * 逾期催收：发生逾期后，催促还款
          * 信用风控的两大手段
              * 策略规则：根据信贷客群的申请资料或者行为表现，在一定规则下实施风险管理
              * 量化模型：建立统计学或者其他算法模型，根据模型结果实施风险管理。
          * 信贷风控流程(以贷前审核为例),如下图所示
          <img src="https://user-images.githubusercontent.com/68700549/133000149-f1a51cea-b585-4632-885a-b531dfbabe21.png" alt="WeChat Screenshot_20210912152358" style="zoom:67%;" />

      * 信息安全风险：借贷系统及其赖以运行的基础网络、处理的数据和信息由于存在的硬软件缺陷、系统集成缺陷等，以及信息安全管理中的薄弱环节而导致的安全风险。最典型的就是黑客
      * 操作风险：人为失误啊，不完备的程序控制啊，欺诈啊，犯罪活动啊。由于技术缺陷和系统崩溃引起的。
      * 欺诈风险：借款人故意隐瞒信息，虚构事实骗取贷款，并且因“主观上不想”和“客观上不能”偿还，可能造成出借人风险损失。
          * 主要有三个特征
              * 骗取贷款为最终目的
              * 使用隐瞒，虚构等欺诈性手段
              * 借款时就没打算还，包括有能力没意愿的，也包括有意愿没能力还的

          * 欺诈风险主要发生环节
              * 申请端欺诈(在申请的时候就进行欺诈)
              * 交易环节欺诈(盗卡啊，盗刷啊 之类的)
          * 申请反欺诈的主要步骤
              * 传统步骤
                  * 查黑名单(法院失信，被执行等，金融机构共享黑名单)
                  * 查多头借贷(人行征信，第三方大数据公司名单)
                  * 勾稽规则(申请资料的对比与核实)
                  * 查社交关系(通话记录啊，查是否跟黑产人群或者催收公司有联系)
                  * 验证逻辑(违反常识的信息啊)
                  * 综合考量(总体风险把控)
              * 新方法

              在互金领域，我们现在可以用大数据和生物方法来作为传统方法的补充和增强
                  * 生物方法
                      * 人脸识别
                      * 虹膜识别
                      * 基于人脸识别的活体检测
                  * 大数据方法
                      * 对用户在客户端的行为轨迹分析和对业务API的访问，区分正常用户和恶意用户
                      * 通过对用户访问数据的统计分析，发现异常访问，提供各个层面的风险预警
                      * 通过对用户访问内容的分析，基于设备指纹或用户ID关联，赋予用户标签，形成用户画像
                  * 第三方服务
                      * 整体的风控解决方案提供商、外包商：这类供应商提供风控基础架构，并根据客户需求做一定的定制化开发。一些供应商还担任集成商的角色，负责集成各种服务
                      * 风控建模外包：有一些专业团队提供专门领域的风控建模服务，帮助数据分析能力不足的互金企业解决紧急的风控建模问题
                      * 数据提供商：第三方数据提供商一直是风控数据的重要来源，比如说，电信运营商，电商平台等
                      * 各领域解决方案提供商：这类供应商常常以SaaS(Software as a service)服务(SaaS模式就是软件公司实现把所有的软件相关的工作都归类好了，用户过来直接挑选自己需要的服务，SaaS是云端部署，按需消费)的方式来提供个领域解决方案，如短信验证，人脸识别，生物探测，设备指纹等

  * 信用评分模型
      * 信贷有三个环节，我们对这三个环节都要进行风险预测
          * 贷前申请：申请评分，预测放款后是否会有违约
          * 贷中监控：行为评分，预测还款结束前未来一段时间内是否会有违约
          * 逾期催收：催收评分，预测是否会成为不良资产

      * 三大评分模型特点
          * 申请评分：考虑个人信息(比如说性别，年龄，教育经历啊等)，征信信息(在过去的借款行为啊，还款行为啊之类的)，收入信息(流水啊，房产啊，交税啊之类的)。评分结果用于制定准入策略，可分为拒绝、准入(这就是二分类)。或者是拒绝、再审核、准入等状态(再加一个分类)
          * 行为评分：考虑账龄，还款行为，消费行为，抵押品估值(抵押的是什么呢?)，逾期行为等。行为评分并不适合所有的信贷，它是适合还款周期长的产品(如房贷、车贷等)或者是循环授信类产品(如信用卡), 结果可用于提前预警，风险计量等。
          * 催收评分：考虑个人信息，账龄，还款行为，欠款余额等。评分结果可用于制定催收策略。评分结果较好的逾期人群可进行轻催收，不好的就要进行重催收

## Unit 2 评分卡模型
在构建评分卡模型的工作中，数据预处理工作和特征构建工作是至关重要的一步。数据的预处理工作可以有效处理缺失值与异常值，从而增强模型的稳健性。而特征构建工作则可以将信息从字段中加以提炼，形成有业务含义的优异特征。



1.   评分卡模型简介

  * 风控场景中的评分卡
      * 以分数的形式来衡量风险几率的一种手段
      * 是对未来一段时间内违约、逾期、失联概率的预测
      * 有一个明确的(正)区间
      * 通常分数越高越安全
      * 数据驱动
      * 风控模型呢，有如下几个评分卡类型：
          * 反欺诈评分卡
          * 申请评分卡(Application scorecard)：就是所谓的A卡。用在贷前审核环节，评估放贷后是否会违约的模型。常用特征：个人信息(年龄，性别，工作等)，央行征信信息，申请行为信息，其他辅助信息(运营商信息啊，电商信息啊之类的)
          * 行为评分卡(Behavioral scorecard)：就是所谓的B卡。用在贷后监控环节，做早期预警的工作(包括巴塞尔2.5(The Basel)及之前的AIRB的要求). 常用特征：贷后的还款行为，消费行为。通常适用于还款周期长的产品或者循环授信类产品
          * 催收评分卡(Collection scorecard)：就是所谓的C卡。用在发生逾期后的管理环节，为催收工作提供指导。催收评分卡又可细分为预测失联的失联评分卡、预测逾期加重的滚动率评分卡和预测催收后的还款率的还款评分卡。常用特征：个人信息、贷后的还款行为、消费行为、联系人信息等
  * 评分卡模型开发步骤

      我们得知道从0开始是一个这样的过程。我们需要知道里面的操作，特别是模型的建设啊，特征工程啊等
      ![WeChat Screenshot_20210912175555](https://user-images.githubusercontent.com/68700549/133003976-d5f32d5b-438f-47a4-8530-e43e820296d9.png)
  * 评分卡开发的常用模型
      * logistic regression
          * 优点：简单，稳定，可解释，技术成熟，易于监测和部属
          * 缺点：准确度不高
      * decision tree
          * 优点：对数据质量要求低，易解释
          * 缺点：准确度不高
      * assemble learning
          * 优点：准确度高，不易过拟合
          * 缺点：不易解释，部署困难，计算量大
  
  
2.   数据集介绍

    我们这次做的project的数据集如下，这是拍拍贷发起的一次与信贷申请审核工作相关的竞赛数据集。我们的这次project，就是要在这三个文件中对数据进行加工，提取特征并建立合适的模型，对贷后表现做出预测
    * 数据集
        * PPD_LogInfo_3_1_Training_Set.csv：信贷客户的登录信息
        * PPD_Training_Master_GBK_3_1_Training_Set.csv：信贷客户在拍拍贷上的申报信息和部分第三方数据信息，以及需要预测的目标变量(就是在一定时间之内是否发生违约)。
        * PPD_Userupdate_Info_3_1_Training_Set.csv：部分客户的信息修改行为

### Open dataset

In [2]:
# dataset link
PPD_LogInfo = "https://raw.githubusercontent.com/yeb2Binfang/ECE-GY6143ML/main/Project/PPD_LogInfo_3_1_Training_Set.csv"
PPD_Userupdate = "https://raw.githubusercontent.com/yeb2Binfang/ECE-GY6143ML/main/Project/PPD_Userupdate_Info_3_1_Training_Set.csv"

In [5]:
## Open google drive to get "PPD_Training_Master_GBK_3_1_Training_Set.xlsx" file
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [16]:
## it is "PPD_Training_Master_GBK_3_1_Training_Set.xlsx" path
path = "/content/drive/MyDrive/ECE-GY 6143/PPD_Training_Master_GBK_3_1_Training_Set.xlsx"

In [17]:
## Use panda to read the file
df_PPD_Training_Master = pd.read_excel(path)

In [19]:
## check PPD_Training_Master data
df_PPD_Training_Master.head()

     Idx  UserInfo_1 UserInfo_2  ...  SocialNetwork_17 target  ListingInfo
0  10001         1.0         深圳  ...                 1      0   2014-03-05
1  10002         1.0         温州  ...                 2      0   2014-02-26
2  10003         1.0         宜昌  ...                 0      0   2014-02-28
3  10006         4.0         南平  ...                 0      0   2014-02-25
4  10007         5.0         辽阳  ...                 0      0   2014-02-27

[5 rows x 228 columns]

In [20]:
## To view "PPD_Training_Master", the necessary info we need to know.
df_PPD_Training_Master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Columns: 228 entries, Idx to ListingInfo
dtypes: datetime64[ns](1), float64(38), int64(170), object(19)
memory usage: 52.2+ MB

Here we will open the data

"PPD_LogInfo" and "PPD_Userupdate"

In [21]:
import pandas as pd

df_PPD_LogInfo = pd.read_csv(PPD_LogInfo)
df_PPD_Userupdate = pd.read_csv(PPD_Userupdate)

In [23]:
## To view "PPD_LogInfo" data
df_PPD_LogInfo.head()

     Idx Listinginfo1  LogInfo1  LogInfo2    LogInfo3
0  10001   2014-03-05       107         6  2014-02-20
1  10001   2014-03-05       107         6  2014-02-23
2  10001   2014-03-05       107         6  2014-02-24
3  10001   2014-03-05       107         6  2014-02-25
4  10001   2014-03-05       107         6  2014-02-27

In [24]:
## To view PPD_LogInfo info
df_PPD_LogInfo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 580551 entries, 0 to 580550
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Idx           580551 non-null  int64
 1   Listinginfo1  580551 non-null  object
 2   LogInfo1      580551 non-null  int64
 3   LogInfo2      580551 non-null  int64
 4   LogInfo3      580551 non-null  object
dtypes: int64(3), object(2)
memory usage: 22.1+ MB

In [25]:
## To view PPD_Userupdate data
df_PPD_Userupdate.head()

     Idx ListingInfo1    UserupdateInfo1 UserupdateInfo2
0  10001   2014/03/05       _EducationId      2014/02/20
1  10001   2014/03/05         _HasBuyCar      2014/02/20
2  10001   2014/03/05    _LastUpdateDate      2014/02/20
3  10001   2014/03/05  _MarriageStatusId      2014/02/20
4  10001   2014/03/05       _MobilePhone      2014/02/20

In [27]:
## To view PPD_Userupdate info
df_PPD_Userupdate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372463 entries, 0 to 372462
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Idx              372463 non-null  int64
 1   ListingInfo1     372463 non-null  object
 2   UserupdateInfo1  372463 non-null  object
 3   UserupdateInfo2  372463 non-null  object
dtypes: int64(1), object(3)
memory usage: 11.4+ MB